
<div class="header">
  
  <div class="title">
    <h1>EasySWE</h1>
  </div>
      
  <div class="nav">
    <div class="nav-item">
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
    </div>

    <div class="nav-item">
      <a routerLink="/internships" routerLinkActive="active" ariaCurrentWhenActive="page">Internships</a>
    </div>

    <div class="nav-item">
      <a routerLink="/resume-builder" routerLinkActive="active" ariaCurrentWhenActive="page">Resume Builder</a>
    </div>
  </div>
</div>
    
    
    

<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>

