
<div class = 'content'>
    <div class = 'textbox'>
        <h2 style="font-size:xx-large;">Looking for a Tech Internship?<br><span> EasySWE is the perfect tool for you.</span></h2>
        <h3>We will help you have access to many internships at your fingertips. Join us!</h3>
        <a routerLink="/internships" routerLinkActive="active" ariaCurrentWhenActive="page"><button>Get Started</button></a>
    </div>
    <div class='imgbox'>
        <img src='assets/tech.png' class = 'tech'>
    </div>
</div>


